<footer>
    <p>
        This website is fictional, no actual firearms are being sold.
    </p>
    <a href="https://github.com/GoldenMaximo">@Gustavo Máximo</a>
</footer>
<script src="/js/main.js"></script>
</body>

</html>